---
title: false
styles: true
---

// Background colours
$backgroundColour: #ffffff !default;
$codeBackgroundColour: #fafafa !default;
$featureBackgroundColour: #f9fafa !default;
$accentColour: #c0392b !default;

// Text colours
$headingColour: #2D0905 !default;
$bodyColour: #050505 !default;
$linkColour: #c0392b !default;
$hoverColour: #922b21 !default;
$focusColour: #050505 !default;
$captionColour: #a8adac !default;
$white: #ffffff !default;

@import "alembic";
